@media (min-width: 768px) and (max-width: 1024px) {
  header {
  }
  .nav-bar {
  }
  .avatar {
    display: none;
  }
  .btn {
    width: auto;
    height: auto;
    padding: 0;
    margin: 0;
  }
  .btn:nth-child(2) {
    margin-right: 10%;
  }
  .icon-inner {
    padding-left: 25px;
  }

  .job-info {
    align-items: flex-start;
    height: auto;
    grid-template-columns: 50% 50%;
    gap: 20px;
  }
  .grid-layout-2,
  .grid-layout-1 {
    height: 700px;
  }
  .cc {
    flex-direction: column;
  }
  .div2 {
    padding: 10px;
  }
  .pj {
    display: flex;
    gap: 10px;
  }
  .pj-1 {
    /* width: 33.3%;
    max-width: 33.3%; */
    min-width: 33.33%;
  }
  .block-2 {
    padding-right: 30px;
    text-align: end;
  }
  table {
    /* font-size: 13px; */
  }
  td:nth-child(1) {
    width: 20%;
  }
  td:nth-child(2) {
    width: 80%;
  }

  td {
    padding: 5px;
  }
  .footer {
    font-size: 23px;
  }
}
